.footer-background-color{
    --background:rgba(2, 1, 1, 0)!important;
}
.footer-img-width{
    width:160px;
}
.footer-fix-bottom{
    position: absolute;
    margin:0px auto;
    left: 0px;
    right: 0px;
    bottom:0px;
}