<app-header titulo="MI PERFIL">
</app-header>
<ion-content fullscreen="true"  class="custom-background ion-padding">
  <div class="custom-padding-left-right center custom-white">
    <div>
      <ion-img [src]="my_profile_page" class="custom-img-7 custom-margin-auto custom-p-t-sm"></ion-img>
    </div>

    <ion-grid>
      <!-- row start -->
      <ion-row>
        <ion-col size="12" *ngIf="userInfoItems" class="backgroundTarget">
            <div class="divProfile">
              <h5 class="titleEmployed">NOMBRE</h5>
              <span class="detailEmployed">{{ userInfoItems.FirstName }} {{ userInfoItems.LastName}}</span>
            </div>
            <div class="divProfile">
               <h6 class="custom-m-t-md" class="titleEmployed">RUT</h6>
              <span class="detailEmployed">{{ userInfoItems.Rut }}</span>
            </div>
            <div class="divProfile">
              <h6 class="custom-m-t-md" class="titleEmployed">E-MAIL</h6>
              <span class="detailEmployed">{{ userInfoItems.Email }}</span>
            </div>
            <div class="divProfile">
              <h6 class="custom-m-t-md" class="titleEmployed">TELÉFONO</h6>
              <span class="detailEmployed">{{ userInfoItems.PhoneNumber }}</span>
            </div>
            <div style="padding-bottom: 10px; width: 80%; margin-left: 20px;">
              <h6 class="custom-m-t-md" class="titleEmployed">DEPARTAMENTO</h6>
              <span class="detailEmployed">{{ userInfoItems.Department }}</span>
			</div>
            <!--div style="padding-bottom: 10px; width: 80%; margin-left: 20px;">
						<ion-item class="custom-background-transparent">
							<ion-icon slot="start" name="moon"></ion-icon>
							<ion-label color="light">Cambiar tema oscuro</ion-label>
							<ion-toggle slot="end"
								[checked]="darkMode"

								(ionChange)="valDarkMode()"></ion-toggle>
						</ion-item>
			</div--><!-- [(ngModel)]="darkMode" -->

        </ion-col>

      </ion-row>
      <!-- row end -->
    </ion-grid>
    <ion-button (click)="changepasswordGo()" class="custom-s-margin" shape="round" fill="outline" expand="block" color="light" size="large">CAMBIAR PASSWORD</ion-button>
  </div>
</ion-content>
<app-menu-footer
[valCapa]="currentVal"
id="myprofile"
(goDashboard)="dashboardGo()"
(logout)="logout()"></app-menu-footer>
