.backgroundTarget{
    background-color: rgba(0,0,0,0.5);
    border-radius: 41px;
}
.divProfile{
    border-bottom-color: white; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    padding-bottom: 10px; 
    width: 80%; 
    margin-left: 20px;
}
.titleEmployed{
    text-align: initial; 
    padding-left: 23px;
}
.detailEmployed{
    font-style: normal;
}