<app-header titulo="MIS EVENTOS">
</app-header>
<ion-content fullscreen="true"  class="custom-background ion-padding">
    <div class="custom-padding-left-right">
      <div>
        <ion-img [src]="my_events_page" class="custom-img-7 custom-margin-auto custom-p-t-sm"></ion-img>
      </div>
      <ion-grid>
		<!-- row start -->
		<div *ngIf="getEventsItems" >
	  <ion-row class="custom-sm-margin" *ngFor="let getEventsItem of getEventsItems">
          <ion-col size="8">
            <div class="custom-card-e">
              <ion-row>
                <ion-col size="12">
                  <div class="custom-bold-text custom-m-top-bottom-sm">Evento</div>
                  <span class="custom-font-sm">{{ getEventsItem.TypeEvent }}</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <div class="custom-bold-text custom-m-top-bottom-sm">Desde</div>
                  <span class="custom-font-sm">{{ getEventsItem.From | date: 'dd/MM/yyyy' }}</span>
                </ion-col>
                <ion-col size="6">
                  <div class="custom-bold-text custom-m-top-bottom-sm">Hasta</div>
                  <span class="custom-font-sm">{{ getEventsItem.To | date: 'dd/MM/yyyy' }}</span>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
          <ion-col size="2">
            <div>
              <img src={{validarImagen(getEventsItem.EventRequestStatus)}} class="custom-img-4 custom-v-align">
            </div>
          </ion-col>
		</ion-row>
		</div>
		<!-- row end -->
		<!-- row start SKELETON-->
		<!-- <div *ngIf="!getEventsTrueThings"> -->
		<div *ngIf="!getEventsItems" class="animated flash slow infinite center blink" >
        <ion-row style="margin-top: 35px;"  *ngFor="let getEventsItem of [1,1]">
			<ion-col size="8">
			  <div class="custom-card-e">
				<!--ion-row>
				  <ion-col size="12">
					<div class="custom-bold-text " style="margin-top: 1px!important; margin-bottom: 1px!important;"><ion-skeleton-text class="animated" style="width:40%; height:25px!important; background-color:rgb(219, 205, 205)!important;"></ion-skeleton-text></div>
					<span class="custom-font-sm"><ion-skeleton-text class="animated" style="width:30%; height:15px!important; background-color:rgb(219, 205, 205)!important;"></ion-skeleton-text></span>
				  </ion-col>
				</ion-row-->
				<ion-row>
				  <ion-col size="6">
					<div class="custom-bold-text " style="margin-top: 1px!important; margin-bottom: 1px!important;"><ion-skeleton-text class="animated" style="width:40%; height:20px!important; background-color:rgb(219, 205, 205)!important;"></ion-skeleton-text></div>
					<span class="custom-font-sm"><ion-skeleton-text class="animated" style="width:60%; height:12px!important; background-color:rgb(219, 205, 205)!important;"></ion-skeleton-text></span>
				  </ion-col>
				  <ion-col size="6">
					<div class="custom-bold-text " style="margin-top: 1px!important; margin-bottom: 1px!important;"><ion-skeleton-text class="animated" style="width:40%; height:20px!important; background-color:rgb(219, 205, 205)!important;"></ion-skeleton-text></div>
					<span class="custom-font-sm"><ion-skeleton-text class="animated" style="width:60%; height:12px!important; background-color:rgb(219, 205, 205)!important;"></ion-skeleton-text></span>
				  </ion-col>
				</ion-row>
			  </div>
			</ion-col>
			<ion-col size="2">
			  <div>
				<ion-skeleton-text class="custom-v-align" style="width:65%; height:54px!important; border-style: solid; border-radius:100%; border-width: 100%; border-color:rgb(219, 205, 205)!important; background-color:rgb(219, 205, 205)!important;"></ion-skeleton-text>
			  </div>
			</ion-col>
		  </ion-row>
		</div>
	<!-- </div> -->
		  <!-- row end -->
      </ion-grid>
    </div>
  </ion-content>
<app-menu-footer
[valCapa]="currentVal"
id="events"
(goDashboard)="dashboardGo()"
(logout)="logout()"></app-menu-footer>
