<app-header titulo="CAMBIAR PASSWORD">
</app-header>
<ion-content fullscreen="true" padding class="custom-background">
  <div class="custom-padding-left-right custom-margin">
    <div>
      <div class="custom-border-bottom">
        <ion-input type="password" placeholder="INGRESE PASSWORD ACTUAL"  focus="true" maxlength="4" color="light" [(ngModel)]="oldPassword"></ion-input>
      </div>
      <div margin-top class="custom-border-bottom">
        <ion-input type="password" placeholder="INGRESE NUEVO PASSWORD" #InputPassword maxlength="4" color="light" [(ngModel)]="newPassword" (change)="oldPasswordNotRepeat()"></ion-input>
      </div>
      <div margin-top class="custom-border-bottom">
        <ion-input type="password" placeholder="REPETIR NUEVO PASSWORD" #InputRepeatPassword maxlength="4" color="light" [(ngModel)]="rePassword" (change)="oldPasswordNotRepeat()"></ion-input>
      </div>      
    </div>
    <ion-button (click)="changePassword()" class="custom-margin" shape="round" expand="block" color="light" size="large">ACEPTAR</ion-button>
  </div>
</ion-content>
<!-- footer start -->
<app-footer></app-footer>
<!-- footer end -->
<app-menu-footer
[valCapa]="currentVal"
id="changePassword"
(profileEmployed)="profileGo()"
(logout)="logout()"></app-menu-footer>
