<ion-footer >
		<div class="custom-background-red menu-footer" >
			  <ion-item
			  color="rgba(255, 255, 255, 0)!important"
			  lines="none" >
				  <ion-thumbnail
				  slot="start"
				  *ngIf="buttonChange==1 || buttonChange==2"
				  (click)="clickBack()"
				  style="width: 52px!important;height: 51px!important; -webkit-margin-end: 0px!important; margin-inline-end: 0px!important;">
				  <ion-img
					class="custom-circle-button-back"
					style="padding: 6px 9px 8px 7px!important; width:70%!important; height: 70%!important;"
					src="../../../assets/img/back.svg">
				  </ion-img>
				</ion-thumbnail>
				<ion-thumbnail
				slot="start"
				class="border-menu-footer"
				*ngIf="buttonChange!=0 && buttonChange==2"
				style="-webkit-margin-end: 12px!important; margin-inline-end: 12px!important;"></ion-thumbnail>
				 <ion-thumbnail
				 slot="start"
				 *ngIf="buttonChange==2"
				 (click)="goHome()"
				 style="width: 52px!important;height: 51px!important; -webkit-margin-end: 0px!important; margin-inline-end: 0px!important;">
					<ion-img
					 class="custom-circle-button-back"
					 style="padding: 6px 6px 6px 7px!important; width:70%!important; height: 70%!important;"
					 src="../../../assets/img/home.svg">
					 </ion-img>
				</ion-thumbnail>
				<ion-thumbnail
				slot="start"
				class="border-menu-footer"
				*ngIf="buttonChange!=0"
				style="-webkit-margin-end: 12px!important; margin-inline-end: 12px!important;"></ion-thumbnail>
				<ion-thumbnail
				slot="start"
				*ngIf="buttonChange==0 || buttonChange==1 || buttonChange==2"
				(click)="Logout()"
				style="width: 54px!important;height: 55px!important; -webkit-margin-end: 0px!important; margin-inline-end: 0px!important;">
					<ion-img
					class="custom-circle-button-back"
					style="padding:7px 8px 6px 5px!important; width: 69%!important; height: 66%!important;"
					src="../../../assets/img/logout.svg"
					>
					</ion-img>
				</ion-thumbnail>
			  </ion-item>
		</div>
		</ion-footer>
