<app-header titulo="MENU">
</app-header>
<ion-content fullscreen="true"  class="custom-background ion-padding">
<div class="custom-padding-left-right center custom-white" *ngIf="userInfoItems">
  <h4 color="light" class="custom-bold-text custom-font-light ion-text-center">Bienvenido
	<span>
	  {{ userInfoItems.FirstName }} {{ userInfoItems.LastName }}
	</span>
  </h4>
  <ion-grid >
	<!-- first row start -->
	<ion-row class="custom-sm-margin">
	  <ion-col size="4" class="size-sm">
		<div (click)="calendarGo()" class="button-pulse">
		  <div class="custom-img-7 custom-margin-auto my_calendar_menu"></div><!--  button-pulse [src]="my_calendar_menu" -->
		</div>
		<div>
		  <h6 class="custom-font-sm custom-bold-text">MI CALENDARIO</h6>
		</div>
	  </ion-col>
	  <ion-col size="4" class="size-sm" >
		<div (click)="myeventsGo()"  style="border:none!important;"  class="button-pulse">
		  <div  class="custom-img-7 custom-margin-auto my_events_menu"></div><!-- [src]="my_events_menu" -->
		</div>
		<div>
		  <h6 class="custom-font-sm custom-bold-text">MIS EVENTOS</h6>
		</div>
	  </ion-col>
	  <ion-col size="4" class="size-sm" >
		  <div (click)="eventSubmitGO()" class="button-pulse">
			<div  class="custom-img-7 custom-margin-auto submit_event"></div> <!-- [src]="submit_event" -->
			 </div>
				<div>
			<h6 class="custom-font-sm custom-bold-text">SOLICITAR EVENTO</h6>
		  </div>
		</ion-col>
	</ion-row>
	<!-- first row end -->
	<!-- second row start -->
	<ion-row class="custom-s-margin">
	  <ion-col
	   size="4" size-sm>
		<div (click)="profileGo()" class="button-pulse">
		  <div  class="custom-img-7 custom-margin-auto my_profile_menu"></div><!--[src]="my_profile_menu"  -->
			   </div>
				<div>
		  <h6 class="custom-font-sm custom-bold-text">MI PERFIL</h6>
		</div>
	  </ion-col>
	  <ion-col size="4" class="size-sm">
		  <div (click)="mymarkGo()" class="button-pulse">
			<div  class="custom-img-7 custom-margin-auto my_marks_menu"></div><!-- [src]="my_marks_menu" -->
			</div>
				<div>
			<h6 class="custom-font-sm custom-bold-text">MIS MARCAS</h6>
		  </div>
		</ion-col>
	  <ion-col size="4" class="size-sm" *ngIf="userInfoItems.HasGeolocationMarks">
		<div (click)="entermarkGo()" class="button-pulse">
				  <div  class="custom-img-7 custom-margin-auto enter_mark_menu"></div><!-- [src]="enter_mark_menu" -->
			  </div>
				<div>
				  <h6 class="custom-font-sm custom-bold-text">INGRESAR MARCA</h6>
			</div>
	  </ion-col>
	</ion-row>
	<!-- second row end -->
  </ion-grid>
</div>
<!-- <ion-button (click)="getData()">Click</ion-button> -->
</ion-content>
<app-menu-footer
id="dashboardPage"
[valCapa]="currentVal"
(logout)="logout()">
</app-menu-footer>
