<app-header titulo="MI CALENDARIO">
</app-header>
<ion-content fullscreen="true"  class="custom-background ion-padding">
  <div class="custom-white center">
    <!-- left right button start -->
    <ion-grid>
      <ion-row>
        <ion-col size="1" offset="2">
		  <ion-icon
				  *ngIf="leftCount"
				  name="arrow-dropleft"
				  color="light"
				  size="large"
				  (click)="leftSchedule()"
				  class="custom-p-t-md button-pulse-left-arrow"></ion-icon>

        </ion-col>
        <ion-col size="7">
          <ion-img [src]="my_calendar_page" class="custom-img-7 custom-margin-auto"></ion-img>
        </ion-col>
        <ion-col size="1">
		  <ion-icon
				  *ngIf="rightCount"
				  name="arrow-dropright"
				  color="light"
				  size="large"
				  (click)="rightSchedule()"
				  class="custom-p-t-md custom-p-r-sm button-pulse-right-arrow"></ion-icon>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
    <!-- left right button end -->
    <div *ngIf="employeeScheduleLeftRight">
      <div class="ion-padding-top ">
        	<ion-text color="light" class="ion-text-uppercase">
         	 <span>Semana {{ employeeScheduleLeftRight.WeekNumber }} </span><!-- &nbsp; &bull; &nbsp; -->
			</ion-text>
		</div>
		<div class="ion-padding-bottom">
        <ion-text color="light" class="ion-text-uppercase">
          <span>{{ dateConvertFrom[0] }} </span>
        </ion-text>
        <ion-text color="light" class="ion-text-uppercase">
          <span *ngIf="dateConvertFrom[1] == 1">{{ allMonthName[0] }}</span>
          <span *ngIf="dateConvertFrom[1] == 2">{{ allMonthName[1] }}</span>
          <span *ngIf="dateConvertFrom[1] == 3">{{ allMonthName[2] }}</span>
          <span *ngIf="dateConvertFrom[1] == 4">{{ allMonthName[3] }}</span>
          <span *ngIf="dateConvertFrom[1] == 5">{{ allMonthName[4] }}</span>
          <span *ngIf="dateConvertFrom[1] == 6">{{ allMonthName[5] }}</span>
          <span *ngIf="dateConvertFrom[1] == 7">{{ allMonthName[6] }}</span>
          <span *ngIf="dateConvertFrom[1] == 8">{{ allMonthName[7] }}</span>
          <span *ngIf="dateConvertFrom[1] == 9">{{ allMonthName[8] }}</span>
          <span *ngIf="dateConvertFrom[1] == 10">{{ allMonthName[9] }}</span>
          <span *ngIf="dateConvertFrom[1] == 11">{{ allMonthName[10] }}</span>
          <span *ngIf="dateConvertFrom[1] == 12">{{ allMonthName[11] }}</span>
        </ion-text>
        <ion-text>
          <span>&nbsp;&nbsp; A &nbsp;&nbsp;</span>
        </ion-text>
        <ion-text color="light" class="ion-text-uppercase">
          <span>{{ dateConvertTo[0] }} </span>
        </ion-text>
        <ion-text color="light" class="ion-text-uppercase">
          <span *ngIf="dateConvertTo[1] == 1">{{ allMonthName[0] }}</span>
          <span *ngIf="dateConvertTo[1] == 2">{{ allMonthName[1] }}</span>
          <span *ngIf="dateConvertTo[1] == 3">{{ allMonthName[2] }}</span>
          <span *ngIf="dateConvertTo[1] == 4">{{ allMonthName[3] }}</span>
          <span *ngIf="dateConvertTo[1] == 5">{{ allMonthName[4] }}</span>
          <span *ngIf="dateConvertTo[1] == 6">{{ allMonthName[5] }}</span>
          <span *ngIf="dateConvertTo[1] == 7">{{ allMonthName[6] }}</span>
          <span *ngIf="dateConvertTo[1] == 8">{{ allMonthName[7] }}</span>
          <span *ngIf="dateConvertTo[1] == 9">{{ allMonthName[8] }}</span>
          <span *ngIf="dateConvertTo[1] == 10">{{ allMonthName[9] }}</span>
          <span *ngIf="dateConvertTo[1] == 11">{{ allMonthName[10] }}</span>
          <span *ngIf="dateConvertTo[1] == 12">{{ allMonthName[11] }}</span>
        </ion-text>
      </div>
      <ion-grid>
        <ion-row *ngFor="let weekDataItem of employeeScheduleLeftRight.Days">
          <ion-col>
            <ion-button *ngIf="currentday != weekDataItem.Name" shape="round" expand="block" color="light">{{ weekDataItem.Name }}</ion-button>
            <ion-button *ngIf="currentday == weekDataItem.Name && leftCount == 0" shape="round" expand="block" color="success">{{ weekDataItem.Name }}</ion-button>
            <ion-button *ngIf="currentday == weekDataItem.Name && leftCount > 0" shape="round" expand="block" color="light">{{ weekDataItem.Name }}</ion-button>
          </ion-col>
          <ion-col class="ion-padding">{{ weekDataItem.Letter }} {{ weekDataItem.Hour }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="!employeeScheduleLeftRight" style="justify-content: space-around;">
      <div   class="animated flash slow infinite center blink" >
        <div style="padding-left:20%!important">
            <ion-text color="light" class="ion-text-uppercase">
                <span >
					<ion-skeleton-text
					class="animated"
					style="width:80%; height:37px!important; background-color:white!important;"></ion-skeleton-text > &nbsp; <!-- &bull; --> &nbsp;</span>
              </ion-text>
              <ion-text color="light" class="ion-text-uppercase">
                <span><ion-skeleton-text class="animated" style="--background-rgb:rgb(255,255,255);width:10%;"></ion-skeleton-text> </span>
              </ion-text>
        </div>
      </div>
      <ion-grid *ngIf="!employeeScheduleLeftRight" class="animated flash slow infinite blink">
        <ion-row *ngFor="let weekDataItem of [1, 1, 1, 1, 1, 1, 1]">
          <ion-col>
           <ion-button shape="round" expand="block" color="light">
			   <ion-skeleton-text class="animated"  style="width: 88%; height: 80%;">
				</ion-skeleton-text>
			</ion-button>
          </ion-col>
		  <ion-col  style="padding-left:10%!important;">
				<ion-skeleton-text class="animated" style="background-color:white!important;width:70%; height:27px!important; border-radius: 5%;">
				</ion-skeleton-text></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
<app-menu-footer
[valCapa]="currentVal"
id="calendar"
(goDashboard)='dashboardGo()'
(logout)="logout()"
></app-menu-footer>
