<ion-content class="no-padding">
  <ion-grid *ngIf="casinoItemStoreA && casinoItemServiceStoreA" class="no-padding">
    <br>
    <ion-row class="center ion-padding" >
      <ion-col size="4">
        <div><ion-button (click)="casinoGo()">Volver</ion-button></div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-padding-top">Elegir menú</div>
      </ion-col>
      <ion-col size="4">
        <div><ion-button (click)="casinoGo()">Cancelar</ion-button></div>
      </ion-col>
    </ion-row>
    <ion-row class="center custom-back-color-sky-light">
      <ion-col>
        <div>{{ casinoItemStoreA.Date | date: 'dd/MM/yyyy' }}</div>
      </ion-col>
    </ion-row>
    <ion-row class="custom-border-bottom-black custom-p-t-xsm" (click)="optionsList()">
      <ion-col size="3">
        <div class="center">
          <img *ngIf="casinoItemServiceStoreA.Name == 'DESAYUNO'" [src]="breakfast">
          <img *ngIf="casinoItemServiceStoreA.Name == 'ALMUERZO'" [src]="lunch">
          <img *ngIf="casinoItemServiceStoreA.Name == 'CENA'" [src]="dinner">
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="custom-bold-text custom-p-t-lg">{{ casinoItemServiceStoreA.Name }}</div>
      </ion-col>
      <ion-col size="5" class="custom-font-sm">
        <div *ngIf="casinoItemServiceStoreA.Status == '0'" class="custom-p-t-lg">PENDIENTE</div>
        <div *ngIf="casinoItemServiceStoreA.Status == '1'" class="custom-p-t-lg">SELECCIONADO</div>
        <div *ngIf="casinoItemServiceStoreA.Status == '2'" class="custom-p-t-lg">CANCELADO</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
