<app-header titulo="MARCAS">
</app-header>
<ion-content fullscreen="true"  class="custom-background ion-padding">

  <div class="custom-padding-left-right custom-weight">


    <div>
      <ion-img [src]="entermark_page" class="custom-img-7 custom-margin-auto custom-p-t-sm"></ion-img>
    </div>

    <ion-grid>

      <!-- first row start -->
      <ion-row class="custom-m-margin">
        <ion-col size="1"></ion-col>
        <ion-col size="10" class="custom-border-button button-pulse-mark" (click)="enableLocation()">
          <ion-row>
            <ion-col size="2">
              <ion-img [src]="mark_button_page" class="custom-button-img custom-margin-auto"></ion-img>
            </ion-col>
            <ion-col size="10">
              <h5 class="custom-white center">MARCAR</h5>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <!-- first row end -->

      <!-- second row start -->
      <ion-row class="custom-s-margin">

        <ion-col size="1"></ion-col>

        <ion-col size="10" class="custom-border-button button-pulse-mark" (click)="dashboardGo()">

          <ion-row>

            <ion-col size="2">
              <ion-img [src]="back_button_mark_page" class="custom-button-img custom-margin-auto"></ion-img>
            </ion-col>

            <ion-col size="10">
              <h5 class="custom-white center">SALIR</h5>
            </ion-col>

          </ion-row>

        </ion-col>

        <ion-col size="1"></ion-col>

      </ion-row>
      <!-- second row end -->

    </ion-grid>



  </div>

</ion-content>
<app-menu-footer
[valCapa]="currentVal"
id="enterMark"
(goDashboard)="dashboardGo()"
(logout)="logout()"></app-menu-footer>
